.recent-results {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__fixture-container {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &--fixture {
            width: 30%;
            box-shadow: 1px 1px 4px #ccc;
            margin: 10px;
            border-radius: 10px;
            border-radius: 10px;

            &__figure {
                width: 100%;
                margin: 0;

                & img {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
            }

            @media (width <= 600px) {
                width: 90%;
            }
        }

        @media (width <= 600px) {
            width: 100%;
        }
    }
}