.App {
  text-align: center;
}

.fru-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #AB886F;
  height: 20vh;
}

.fru-logo {
  position: absolute;
  left: 100px;
}